@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grandstander:wght@300&display=swap');

/*variables*/
$primary: #2b4d36; 
$primary-light: #5d7350; 
$secondary: #4f3048;
$secondary-light: #7c5170;
$light-gray: #E8E8E8;
$dark-gray: #313131; 

/*mixins*/
@mixin flex($direction:row, $justify:center, $align:center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/*animations*/
@keyframes fadeInRight {
  from { opacity: 0; right: 15px }
  to { opacity: 1; right: 0px; }
}

@keyframes fadeIn {
  from  { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeInBottom {
  from { opacity: 0; bottom: 15px; }
  to { opacity: 1; bottom: 0px; }
}

/*animation classes*/
.fadeIn {
  animation: 1s ease-in-out forwards fadeIn;
}
.fadeInRight {
  animation: 1s ease-in-out forwards fadeInRight;
}
.fadeInBottom {
  animation: 1s ease-in-out forwards fadeInBottom;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fredoka One', Verdana, sans-serif;
  color: $light-gray;
  font-weight: normal;
  transition: background 500ms ease-in-out;
}


h1 {
  font-size: 3.5em;
  font-family: 'Fredoka One', Verdana, sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-family: 'Grandstander', cursive;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* sections widths */
@media (min-width: 1023px) {
  .container_900px {
    width: 900px;
    margin: 0 auto;
  }
  .container_960px {
    width: 960px;
    margin: 0 auto;
  }
}

/*tablet responsive */
@media (min-width: 600px) and (max-width: 1023px) {
  h1 {
    font-size: 6vw;
  }
} 

/* phone responsive*/
@media (max-width: 599px) {
  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }
}
