@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Grandstander:wght@300&display=swap");
/*variables*/
/*mixins*/
/*animations*/
@keyframes fadeInRight {
  from {
    opacity: 0;
    right: 15px;
  }
  to {
    opacity: 1;
    right: 0px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeInBottom {
  from {
    opacity: 0;
    bottom: 15px;
  }
  to {
    opacity: 1;
    bottom: 0px;
  }
}
/*animation classes*/
.fadeIn {
  animation: 1s ease-in-out forwards fadeIn;
}

.fadeInRight {
  animation: 1s ease-in-out forwards fadeInRight;
}

.fadeInBottom {
  animation: 1s ease-in-out forwards fadeInBottom;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fredoka One", Verdana, sans-serif;
  color: #E8E8E8;
  font-weight: normal;
  transition: background 500ms ease-in-out;
}

h1 {
  font-size: 3.5em;
  font-family: "Fredoka One", Verdana, sans-serif;
}

h2 {
  font-size: 30px;
}

p {
  font-family: "Grandstander", cursive;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

/* sections widths */
@media (min-width: 1023px) {
  .container_900px {
    width: 900px;
    margin: 0 auto;
  }

  .container_960px {
    width: 960px;
    margin: 0 auto;
  }
}
/*tablet responsive */
@media (min-width: 600px) and (max-width: 1023px) {
  h1 {
    font-size: 6vw;
  }
}
/* phone responsive*/
@media (max-width: 599px) {
  h1 {
    font-size: 8vw;
  }

  h2 {
    font-size: 6vw;
  }
}
header {
  height: 100px;
  background-color: #2b4d36;
}
header #logo {
  float: left;
  margin: 15px 0 0 50px;
}
header #menu {
  height: 100px;
  float: right;
  margin-right: 30px;
  color: #E8E8E8;
}
header #menu #dark_switch {
  cursor: pointer;
}
header #menu li {
  display: inline;
  list-style: none;
}
header #menu a {
  text-decoration: none;
  color: #E8E8E8;
  font-family: "Fredoka One", Verdana, sans-serif;
  display: inline-block;
  padding: 40px 20px;
  transition: background 150ms ease-in-out;
}
header #menu a:hover {
  background: #5d7350;
}

/* phone responsive*/
@media (max-width: 599px) {
  header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
  }

  #logo {
    width: max-content;
    float: none;
    margin: 0;
    padding: 15px 0;
  }

  #menu {
    width: 100%;
    height: auto;
    float: none;
    margin-right: 0;
    display: flex;
    justify-content: space-evenly;
  }
}
/*end phone responsive*/
#pie {
  background: #2b4d36;
  padding: 15px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
#pie #botoneraRedes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#pie #botoneraRedes a {
  padding: 0 3px;
}

#productos_dark {
  cursor: pointer;
}

#galeria_productos {
  max-width: 900px;
  background: #e8e8e8;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
#galeria_productos .store_item {
  margin: 10px;
}

#galeria_productos h2 {
  width: 100%;
  color: #2b4d36;
  padding: 20px 20px;
}

.producto {
  width: 250px;
  height: 250px;
  background-color: #2b4d36;
  float: left;
  margin: 0 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.producto_img {
  margin: 0 auto;
  width: 250px;
  height: 250px;
  transition: transform 200ms ease-in;
}
.producto_txt {
  width: 100%;
  height: 100%;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 15px;
  position: absolute;
  bottom: 0;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}
.producto_txt h3 {
  padding-bottom: 15px;
  font-size: 1.5rem;
}
.producto_txt:hover {
  display: none;
  color: black;
}
.producto:hover img {
  transform: scale(1.1);
}
.producto:hover_txt {
  color: pink;
}
.producto_cta {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 15px;
  padding: 5px 7px;
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  text-transform: uppercase;
  color: #E8E8E8;
  font-size: 12px;
}

@media screen and (max-width: 599px) {
  .producto {
    width: 70vw;
    height: 70vw;
  }
  .producto img {
    width: 80vw;
    height: 70vw;
  }
}
#banner {
  background: url("./media/banner_bkg2_comp.png") #e8e8e8 top no-repeat;
}
#banner #banner_box {
  width: max-content;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) and (max-width: 1023px) {
  #banner #banner_box {
    padding-bottom: 6vw;
  }
}
@media screen and (max-width: 600px) {
  #banner #banner_box {
    width: min-content;
    height: auto;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
  }
}
#banner #banner_box #banner_img {
  height: 250px;
  position: relative;
  margin-top: 75px;
  padding-right: 20px;
  opacity: 0;
}
@media (min-width: 600px) and (max-width: 1023px) {
  #banner #banner_box #banner_img {
    width: 25vw;
    padding-left: 5vw;
  }
}
@media screen and (max-width: 599px) {
  #banner #banner_box #banner_img {
    width: 100%;
    margin: 0;
    padding: 5% 0 1% 0;
  }
}
#banner #banner_box #banner_txt {
  width: 300px;
  float: left;
  position: relative;
  margin-top: 75px;
  padding: 50px 0 60px 20px;
  color: #e8e8e8;
  border-left: 2px #e8e8e8 solid;
  opacity: 0;
}
@media screen and (max-width: 599px) {
  #banner #banner_box #banner_txt {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    border-left: 20px solid blue;
    text-align: center;
  }
}
#banner #banner_box #banner_txt #banner_txt h1 {
  position: relative;
}
#banner .cta {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

#productos {
  background-color: #2b4d36;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#productos #productos_tit {
  width: 250px;
  border-radius: 10px;
  background-color: #5d7350;
  font-family: "Fredoka One", Verdana, sans-serif;
  color: #E8E8E8;
  text-align: center;
  margin: 0 auto 30px auto;
  padding: 10px;
  white-space: nowrap;
}
#productos #carrousel_box {
  width: max-content;
  text-align: center;
  background-color: #5d7350;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#productos #carrousel_box #productos_flecha_izq {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  #productos #carrousel_box #productos_flecha_izq {
    height: 15vw;
    width: 15vw;
    margin: 0;
  }
}
#productos #carrousel_box #productos_flecha_der {
  height: 50px;
  width: 50px;
  cursor: pointer;
}
@media screen and (max-width: 599px) {
  #productos #carrousel_box #productos_flecha_der {
    height: 15vw;
    width: 15vw;
    margin: 0;
  }
}
@media screen and (max-width: 599px) {
  #productos #carrousel_box #producto2 {
    display: none;
  }
}

#sobreNosotros {
  background-color: #E8E8E8;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sobreNosotros #sobreNosotros_tit {
  width: 275px;
  border-radius: 10px;
  background-color: #7c5170;
  color: #E8E8E8;
  text-align: center;
  margin: 0 auto 30px auto;
  padding: 10px;
  white-space: nowrap;
}
#sobreNosotros #sobreNosotros_box {
  background: #313131;
  margin: 0 auto;
}
@media screen and (max-width: 599px) {
  #sobreNosotros #sobreNosotros_box {
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: 35px;
  }
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  #sobreNosotros #sobreNosotros_box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
  }
}
#sobreNosotros #sobreNosotros_box #sobreNosotros_txt {
  width: 500px;
  background-color: #4f3048;
  float: left;
  padding: 25px;
  box-sizing: border-box;
}
#sobreNosotros #sobreNosotros_box #sobreNosotros_txt p {
  padding: 20px;
  background: #7c5170;
}
@media screen and (max-width: 599px) {
  #sobreNosotros #sobreNosotros_box #sobreNosotros_txt {
    width: 100%;
  }
}
#sobreNosotros #sobreNosotros_box #sobreNosotros_img {
  width: 250px;
  height: 250px;
  margin: 25px;
  float: right;
  background: #7c5170;
  overflow: hidden;
}
@media screen and (min-width: 600px) and (max-width: 1023px) {
  #sobreNosotros #sobreNosotros_box #sobreNosotros_img {
    order: -1;
  }
}

/*tablet responsive 
@media (min-width: 600px) and (max-width: 1023px) {
  #banner_box {
    padding-bottom: 6vw;
  }

  #banner_img {
    width: 25vw;
    padding-left: 5vw;
  }

  #sobreNosotros_box {
    //background: pink;
    width: 100%;
    @include flex(column, center, center);
    padding-bottom: 35px;
  }

  #sobreNosotros_img {
    order: -1;
  }
}

/*phone responsive
@media (max-width: 599px) {
  #banner {
    #banner_box {
      width: min-content;
      height: auto;
      display: flex;
      flex-flow: column wrap;
      align-items: center;
      justify-content: space-around;

      #banner_img {
	width: 100%;
	margin: 0;
	padding: 5% 0 1% 0;
      }

      #banner_txt {
	height: auto;
	width: 100%;
	margin: 0;
	padding: 0;
	border-left: 20px solid blue;
	text-align: center;
      }
    }

    #banner_btn {
      display: none;
    }
  }

  #producto2 {
    display: none;
  }

  #carrousel_box {
    width: 90%;
    display: flex;
    flex-flow: row;
    align-items: center;
  }
  #productos_flecha_izq {
    height: 15vw;
    width: 15vw;
    margin: 0;
    float: none;
  }
  #productos_flecha_der {
    height: 15vw;
    width: 15vw;
    margin: 0;
    float: none;
  }

  #sobreNosotros_box {
    width: 100%;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    padding-bottom: 35px;
  }

  #sobreNosotros_txt {
    width: 100%;
    float: none;
  }
} /*end phone responsive*/
#contacto_dark {
  cursor: pointer;
}

#contacto {
  background-color: #e8e8e8;
  color: black;
  font-size: 20px;
  height: 650px;
  min-height: 81vh;
}

#contacto h2 {
  color: #2b4d36;
  text-align: center;
  padding: 50px;
}

#contacto li {
  list-style: none;
  color: #2b4d36;
  width: 500px;
  margin: 0 auto;
  padding: 15px;
}

.form_input {
  color: #313131;
  height: 30px;
  width: 300px;
  float: right;
  border: solid 2px #d1d1d1;
  outline: none;
  border-radius: 10px;
  padding: 5px;
  transition: border ease-in-out 200ms;
}

.form_input:focus {
  border: solid 2px #5d7350;
}

#contacto textarea {
  color: #313131;
  float: right;
  border: solid 2px #d1d1d1;
  outline: none;
  border-radius: 10px;
  width: 300px;
  padding: 5px;
  transition: border ease-in-out 200ms;
}

#contacto textarea:focus {
  border: solid 2px #5d7350;
}

#enviar_btn {
  background-color: #5d7350;
  color: #e8e8e8;
  margin-top: 20px;
  cursor: pointer;
  transition: background ease-in-out 150ms;
}

#enviar_btn:hover {
  background-color: #2b4d36;
}

/* phone responsive */
@media (max-width: 599px) {
  #contacto {
    font-size: 5vw;
    height: 170vw;
  }

  #contacto h2 {
    padding: 7vw;
  }

  #contacto li {
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 5vw 15px;
  }

  .form_input {
    height: 10vw;
    width: 100%;
    font-size: 4vw;
    margin-bottom: 2vw;
  }

  #contacto textarea {
    width: 100%;
    height: 50vw;
  }

  #enviar_btn {
    height: 10vw;
    padding: 0;
    margin-bottom: 4vw;
  }
}
/* end phone responsive */
html {
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
